*{
    margin: 0;

}
.header{
    display:flex;
    justify-content: space-between;
    height:45px;
    background-color: seagreen;
    padding: 10px;
    overflow: hidden;
}

.header nav{
    margin-right: 5%;
}

.header a{
    float: left;
    font-size: 13px;
    color: honeydew;
    text-align: right;
    text-decoration: none;/*Quita la barrita fea de cuando se clickea*/
}

.header a:hover { /*Cuando se pasa el mouse por encima*/
    color: mediumseagreen;
}

.logo{
    float:left;
    line-height: 70px;
}

/* el contenedor de la cuenta */
.dropdown {
  overflow: hidden;
  float: left;
  margin-top: 2.6%;
}

/* el botón del contenedor */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: honeydew;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* el contenido del contenedor*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgoldenrodyellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* links adentro del contenedor */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: darkseagreen;
  color: honeydew;
}

/* mostrar los contenidos al pasar por encima*/
.dropdown:hover .dropdown-content {
  display: block;
}

.header input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}