a{
    text-decoration: none;
    color: mediumspringgreen;
}
body{                       
    background: mintcream !important;
    background-color: mintcream !important;
    color: black !important;
}
