{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div>
    <h2>Lista de Restaurantes</h2>
    <ul class="all-restaurant-container">
        {% for restaurante in restaurantes %}
            <li class="single-restaurant-container">
                <div class="restaurant-image">
                    {% if restaurante.cover_photos %}
                    <!--path to image in feature-forms-->
                    <!--src="/media/{{ restaurante.cover_photos.0.path|cut:'data/' }}  to :"-->
                        <img class="restaurant-photo" src="{{ restaurante.cover_photos.0.image.url }}" alt="Foto de {{ restaurante.name }}" loading="lazy">
                    {% else %}
                        {% with any=restaurante.photo_set.all.0 %}
                            {% if any %}
                            <!--src="/media/{{ any.path|cut:'data/' }}" to: -->
                                <img class="restaurant-photo" src="{{ any.image.url }}" alt="Foto de {{ restaurante.name }}" loading="lazy">
                            {% else %}
                                <img class="restaurant-photo" src="{% static 'img/placeholder-restaurant.png' %}" alt="Sin foto">
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>

                <div class="restaurant-name-address-rating">
                    <div class="restaurant-name-rating">
                        <div class="restaurant-name">
                            <a href="{% url 'detalle_restaurante' restaurante.id %}">{{ restaurante.name }}</a>
                        </div>
                        <div class="restaurant-rating">
                            <p>Rating: {{ restaurante.avg_rating }}</p>
                        </div>
                    </div>
                    <div class="restaurant-address">
                        <p>{{ restaurante.address }}</p>
                    </div>
                </div>

                <div class="restaurant-description-price">
                    <div class="restaurant-description"><p>Restaurant familiar</p></div>
                    <div class="restaurant-price"><p>Rango de precio: {{ restaurante.price }}</p></div>
                </div>

                <div class="restaurant-tags">
                    <p>{{ restaurante.tag }}</p>
                </div>
            </li>
        {% empty %}
            <li>No hay restaurantes disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
