{% extends "base.html" %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>¡Bienvenido a nuestra app!</h1>
    <p>Esta es la página principal.</p>
    <div>
        <h2>Lista de Restaurantes</h2>
        <ul>
            {% for restaurante in restaurantes %}
                <li>
                    <a href="{% url 'detalle_restaurante' restaurante.id %}">
                        {{ restaurante.name }} - {{ restaurante.address }}
                    </a>
                </li>
            {% empty %}
                <li>No hay restaurantes disponibles.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
{% endblock  %}