{% extends 'base.html' %}
{% load static %}

{% block title %}Mi perfil{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'styles/usuarios.css' %}">

<h1>Mi Perfil</h1>

<div class="perfil-container">

    <div class="perfil-info">
        <h2>{{ usuario.username }}</h2>

        {% if usuario.foto_perfil %}
            <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" class="foto-perfil">
        {% else %}
            <img src="{% static 'images/default-user.png' %}" class="foto-perfil">
        {% endif %}
        <a href="{% url 'editar_perfil' %}">Editar Perfil</a>


        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Fecha de registro:</strong> {{ usuario.date_joined|date:"d/m/Y" }}</p>
    </div>

    <hr>

    <h2>Mis Restaurantes Favoritos</h2>
 
    {% if favoritos %}
        <ul>
        {% for r in favoritos %}
            <li>{{ r.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No tienes restaurantes favoritos aún.</p>
    {% endif %}


    <hr>

    <h2>Mis Reseñas</h2>
    {% if reseñas %}
        <ul class="lista-resenas">
            {% for res in reseñas %}
                <li>
                    <strong>{{ res.restaurante.nombre }}</strong> — {{ res.fecha|date:"d/m/Y" }}<br>
                    {{ res.contenido }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No has escrito reseñas todavía.</p>
    {% endif %}
</div>

{% endblock %}
